.viewSurvey {
    box-sizing: border-box;
}

input[type=text], textarea {
    

    width: 100%;
    padding: 12px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    resize: vertical;
}

label {
    /* border: 5px solid green; */

    padding: 12px 12px 12px 0px;
    display: inline-block;
}

/* input[type=submit], button[type=button], button[type=submit], select {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
} */

/* button[type=button] {
    border: 5px dashed black;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
} */

.selectType {
    /* border: 5px dashed black; */
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px 12px 20px;
    margin: 5px 0px 5px 0px;
    float: left;
    cursor: pointer;

    width: 150px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.containerStyle {
    /* border: 5px solid red; */
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
}

.dropdownStyle {
    /* border: 5px solid black; */

    display: flex;
    
    justify-content: space-between;
}




.colWidth25 {
    /* border: 5px dashed blue; */
    float: left;
    width: 25%;
    margin-top: 6px;
}

.colWidth45 {
    /* border: 5px dashed yellow; */
    float: left;
    width: 45%;
    /* margin: 6px 20px 0px 0px; */
    display: flex;
    flex-direction: column;
}

.colWidth75 {
    /* border: 5px dashed yellow; */
    float: left;
    width: 100%;
    margin-top: 12px;
}

.colWidth10 {
    /* border: 5px dashed black; */
    float: right;
    
    width: 4%;
    height: 55px;
    margin-top: 6px;

    position: relative;
}

.addOption {
    position: absolute;
    background-color: #04AA6D;
    color: white;
    bottom: 0px;
    right: 0px;

    height: 100%;
    width: 100%;

    border-radius: 4px;
}

.delOption {
    position: absolute;
    background-color: red;
    color: white;
    bottom: 0px;
    right: 0px;

    height: 100%;
    width: 100%;

    border-radius: 4px;
}

.functionalBtns {
    /* border: 5px dashed black; */
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;

    float: left;

    margin: 12px 4px 12px 0px;
    width: 150px;

    border: none;

}

.rowStyle:after {
    content: "";
    display: table;
    clear: both;
    
}

@media screen and (max-width: 600px) {
    .rowStyle {
        display: flex;
        flex-direction: column;
    }
    .colWidth25 {
        /* border: 5px dashed blue; */
        float: left;
        width: 100%;
        margin-top: 6px;
    }
    .colWidth45 {
        /* border: 5px dashed yellow; */
        float: left;
        width: 100%;
        margin-top: 6px;
    }
    .colWidth70 {
        /* border: 5px dashed yellow; */
        float: left;
        width: 100%;
        margin-top: 6px;
    }
    .colWidth10 {
        /* border: 5px dashed black; */
        width: 100%;
        /* float: right; */
        float: right;
        
        
    }
}